
{% extends "base.html" %}

{% block start %}



<section>
    <div class="container">
       
        <div class="row text-center">
            <div class="col-xl-10 mx-auto"><img class="img-fluid mb-5"
                    src="/media/{{blog_obj.image}}"
                    alt=""></div>
        </div>
        <div class="row">
            
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content">
                    {{blog_obj.content|safe}}
                </div>
            </div>
            
                <div class="col-sm-4">
                  <div class="single">
                    <h2>Subscribe to our Newsletter</h2>
                  <div class="input-group">
                         <input type="email" class="form-control" placeholder="Enter your email">
                         <span class="input-group-btn">
                         <button class="btn btn-theme" type="submit">Subscribe</button>
                         </span>
                          </div>
                  </div>
                </div>
                










        </div>
        
    </div>
</section>


{% endblock %}